{% include 'InterfaceTest/head.html'%}
<!-- Main content starts -->
<div class="content">
    <!-- Sidebar -->
    {% include 'InterfaceTest/HTTPMenu.html' %}
    <!-- Sidebar ends -->
    <!-- Main bar -->
    <div class="right_col" role="main" style="min-height: 1657px;">
         <div class="">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>invoke接口说明</h2>
                      <h2 class="subNavH2Style">
                        <a href="{% url 'HTTP_UserCI' %}">
                            <button class="btn btn-info">
                               CI脚本示例
                              </button>
                        </a>
                    </h2>
                      <h2 class="subNavH2Style">
                        <a href="{% url 'HTTP_UserToken' %}">
                            <button class="btn btn-info">
                               token管理
                              </button>
                        </a>
                    </h2>
                      <h2 class="subNavH2Style">
                        <a href="{% url 'JenkinsPluginPage' %}">
                            <button class="btn btn-info">
                               Jenkins插件
                              </button>
                        </a>
                    </h2>

                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
<pre>
[opt] NOT NULL: 必要参数，操作类型。
    举例(部分)：help(获取帮助),runtask(执行http任务),runtasksuite(执行http任务集),runinterface(执行接口),runtestcase(执行用例),gettoken(获取token)等等.
    注：opt=help 时，其他参数都可以省略。
[token] NOT NULL: 必要参数，登陆后从<a href="{{host}}/interfaceTest/HTTP_UserToken"> token管理 </a>获取token。
[httpConfKey] NOT NULL: 平台环境配置的配置key，不能为空！。
[taskId] NOT NULL: 平台上的任务Id，当 opt=runtask 或 rundubbotask 时必须不为空。
[taskSuiteId] NOT NULL：执行的任务集Id，当 opt=runtasksuite 或 rundubbotasksuite 时必须不为空。
[interfaceId] NOT NULL: 平台上的接口Id，当 opt=runinterface 时必须不为空。
[caseId] NOT NULL: 平台上的用例Id，当 opt=runtestcase 时必须不为空。
[loginName] NOT NULL: 登陆平台的用户名，当 opt=getToken 时必须不为空。
[password] NOT NULL: 登陆平台的密码，当 opt=getToken 时必须不为空。
[isSendEmail] DEFAULT 0: 是否发送邮件， 0 不发送,1 发送
    注：不同位置的01代表不同含义，第一位代表是否发送，第二位代表是否发送附件，第三位PASS是否发送，第四位FAIL是否发送，第五位ERROR是否发送，第六位EXCEPTION是否发送。
    如果后面的都发送可省略，则默认1.比如 isSendEmail=10 表示无论任务什么结果都发送且不发送附件。
[emailList]: DEFAULT '': 收件人列表，多个收件人中间用半角逗号,间隔。
    注：当 isSendEmail=1 时，如果 emailList 不传，则取对应的任务配置里的邮件信息进行邮件发送，如果任务里没有配置邮件信息，则会报错。
[isCodeRate] DEFAULT 0: 是否生成代码覆盖率统计【暂不支持】. 0代表不, 1代表是。
[isSaveHistory] DEFAULT 0: 是否保存接口执行历史记录，供回溯使用. 0代表不, 1代表是。
[comments] DEFAULT '': 任务执行的备注信息。
[retryCount] DEFAULT 0: 失败后重试次数。
[execPlatform] DEFAULT 100: 调用接口的平台，1代表测试平台，2代表jenkins，100代表其他。
[timeout] DEFAULT 0: 执行结果最长等候时间，0代表不等待，直接获取回调地址，单位秒，例如10代表等待10秒，10秒为执行结束返回回调信息。
[testLevel] DEFAULT '': 执行任务中的接口和用例的优先级，枚举：高、中、低。向上兼容，例如中会执行中和高，默认则会执行全部级别的。
[version] 执行的版本号。
</pre>
                  </div>
                </div>
              </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>invoke调用示例</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>
                {% if token %}
                  <div class="x_content">
<pre>
[help示例] HTTP://{{ host }}/invoke?opt=help
[gettoken示例] HTTP://{{ host }}/invoke?opt=gettoken&amp;loginName=wangjiliang&amp;password=123456

[runtask示例] HTTP://{{ host }}/invoke?opt=runtask&amp;token={{ token }}&amp;taskId=HTTP_TASK_2&amp;httpConfKey=test1&amp;isSendMail=1&emailList=email1,email2&comments=执行任务备注
[runtasksuite示例] HTTP://{{ host }}/invoke?opt=runtasksuite&token={{ token }}&taskSuiteId=HTTP_TASK_SUITE_2&httpConfKey=test1&version=CurrentVersion&comments=执行任务集备注

[rundubbotask示例] HTTP://{{ host }}/invoke?opt=rundubbotask&amp;token={{ token }}&amp;taskId=DUBBO_TASK_2&amp;httpConfKey=test1&amp;comments=执行任务备注
[rundubbotasksuite示例] HTTP://{{ host }}/invoke?opt=rundubbotasksuite&token={{ token }}&taskSuiteId=DUBBO_TASK_SUITE_2&httpConfKey=test1&version=CurrentVersion&comments=执行任务集备注
{% if menu.UI == 1 %}
[runuitask示例] HTTP://{{ host }}/invoke?opt=runuitask&amp;token={{ token }}&amp;taskId=UI_TASK_1&amp;httpConfKey=test1&amp;comments=执行UI任务备注
{% endif %}
{% if menu.StatisticTask == 1 %}
[上报统计任务数据示例]HTTP://{{ host }}/invoke?opt=addStatis&taskId=1&taskDetail={"total":10,"pass":9,"fail":1,"error":0}&testResult=FAIL&codeCoverage=18.88&startTime=2018-09-09%2012:00:00&taketime=30&httpConfKey=test1&type=daily&comments=上报测试结果&token={{ token }}
{% endif %}
</pre>
                  </div>
                {% else %}
                    <h1>请先<a href="/interfaceTest/HTTP_UserToken" style="color: red">设置token</a></h1>
                {% endif %}

                </div>
              </div>

            </div>

          </div>
    </div>

    <!-- Content ends -->
{% include 'InterfaceTest/foot.html'%}
